.errorFont {
  color: brown;
  padding-left: 12px;
}

.capitalize {
  text-transform: capitalize;
}

.softText {
  padding: 20px;
  color: #bbb;
  font-size: 12px;
}

.softText a {
  color: #aaa;
}
.softText a:hover {
  color: #888;
}
